.test{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 792px;
	min-height: 343px;
	max-height: 566px;
	padding: 50px;
	border-radius: 15px;
	background-color: $white;
	gap: 30px;

	&__buttons{
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	&__title{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}

	&__text{
		@include interUpFont($dark-grey);
		width: 570px;
	}

	&__count{
		@include montserratUpFont($green);
	}
}

